
.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/other.xml

.idea/pyYubitool.iml

.idea/scopes/scope_settings.xml

.idea/testrunner.xml

.idea/vcs.xml

.idea/workspace.xml

db/yubikeyconf.db

httpsCert/server.crt

httpsCert/server.key

*.pyc
